.search {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 30px;
}

.search__wrapper {
    border-radius: 5px;
    background: #dedede;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 26px;
    flex: 1 1 auto;
}

.search__input {
    color: #252525;
    font-size: 16px;
    line-height: 32px;
    background-color: transparent;
    border: none;
    width: 100%;
}

.search__input::placeholder {
    color: #252525;
}

.search__button {
    background-color: var(--black);
    border-radius: 5px;
    padding: 12px;
}
